.hero {
  position: relative;
  margin-bottom: 190px;
  padding: 0 !important;

  @include media("3xl") {
    margin-bottom: 90px;
  }
  @include media("lg") {
    margin-bottom: 40px;
  }
  @include media("sm") {
    margin-bottom: 30px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .text-h1 {
    width: 100%;
    max-width: 780px;
  }

  &__right {
    position: absolute;
    top: 0;
    right: 0;
    user-select: none;

    @include media("lg") {
      position: relative;
      width: 100%;
      height: 400px;
    }
    @include media("xs") {
      height: 210px;
    }

    &-img {
      height: auto;
      pointer-events: none;

      @include media("lg") {
        position: absolute;
        top: 0;
        right: 0;
      }

      &[data-id="1"] {
        width: 980px;
        transform: translateX(12%) translateY(16%);

        @include media("3xl") {
          width: 780px;
        }
        @include media("2xl") {
          width: 680px;
        }
        @include media("xl") {
          transform: translate(10%, 0);
        }
        @include media("lg") {
          width: 520px;
          transform: translate(0%, 0%);
        }
        @include media("sm") {
          width: 380px;
          transform: translate(20%, 0%);
        }
        @include media("xs") {
          width: 280px;
          transform: translate(20%, -10%);
        }
      }
    }

    &-patients {
      position: absolute;
      top: 62%;
      left: 85px;
      transform: translateY(-50%);
      padding: 24px;
      background: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(16px);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 18px;

      @include media("3xl") {
        left: 120px;
        padding: 20px;
      }
      @include media("2xl") {
        top: 45%;
        left: 100px;
      }
      @include media("lg") {
        top: 0;
        left: 0;
        transform: translate(0, 0);
      }
      @include media("xs") {
        padding: 10px;
        gap: 12px;

        .text-p {
          font-size: 14px;
        }
      }

      img {
        margin-top: 12px;
        width: 140px;

        @include media("xs") {
          width: 120px;
        }
      }
    }

    &-about {
      position: absolute;
      top: 65%;
      left: 550px;
      transform: translateY(-50%);
      padding: 24px;
      background: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(16px);
      border-radius: 8px;
      display: flex;
      align-items: center;
      gap: 24px;

      @include media("3xl") {
        top: 68%;
        left: 450px;
        padding: 20px;
        gap: 20px;
      }
      @include media("2xl") {
        left: auto;
        right: 5%;
        top: auto;
        bottom: 5%;
      }
      @include media("lg") {
        right: 0;
        bottom: 0;
        transform: translate(0, 0);
      }
      @include media("xs") {
        padding: 10px;

        .text-p {
          font-size: 14px;
        }
      }

      .icon {
        &:first-child {
          padding: 10px;
          background: var(--secondary);
          border-radius: 16px;
          --icon-size: 56px;

          @include media("xs") {
            display: none;
          }
        }

        &:last-child {
          --icon-size: 32px;
        }
      }

      .flex-col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
      }
    }
  }

  &__swiper {
    margin-top: 15px;
    position: relative;
    width: 470px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    @include media("3xl") {
      width: 380px;
    }
    @include media("lg") {
      margin-top: 0;
      width: 100%;
    }

    .swiper {
      width: 100%;
    }

    .swiper-slide {
      opacity: 0 !important;

      &-active {
        opacity: 1 !important;
      }
    }

    .swiper-pagination {
      position: static;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;

      &-bullet {
        margin: 0 !important;
        width: 16px;
        height: 16px;
        transform: rotate(45deg);
        background: var(--primary-light);
        border-radius: 3px;
        transition: var(--transition-ease);

        &-active {
          transform: scale(1.1) rotate(45deg);
          background: var(--primary);
        }
      }
    }

    .swiper-nav {
      position: absolute;
      top: 50%;
      right: 0;
      z-index: 2;
      transform: translate(0, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      @include media("sm") {
        display: none;
      }

      .swiper-btn {
        width: 64px;
        height: 64px;
        background-color: var(--primary);
        background-image: url('data:image/svg+xml,<svg width="18" height="33" viewBox="0 0 18 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.5L16 16.5L1 31.5" stroke="white" stroke-width="2" /></svg>');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 32px 32px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        @include media("3xl") {
          width: 52px;
          height: 52px;
          background-size: 28px 28px;
        }
      }
    }

    .slide {
      padding: 10px 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 18px;

      @include media("3xl", min-width) {
        .text-h3 {
          font-size: 28px;
        }
      }
      @include media("2xl", min-width) {
        .text-h3 {
          font-size: 24px;
        }
      }
      @include media("2xl") {
        .text-h3 {
          font-size: 28px;
        }

        .text-p {
          font-size: 18px;
        }
      }

      &__prices {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 24px;

        @include media("lg") {
          gap: 20px;
        }
      }

      &-realprice {
        font-size: 28px;

        @include media("3xl") {
          font-size: 26px;
        }
      }

      &-price {
        color: var(--primary);
        font-size: 42px;

        @include media("3xl") {
          font-size: 36px;
        }
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    @include media("3xl") {
      gap: 15px;
    }
    @include media("xs") {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  }

  &__advantages {
    position: relative;
    z-index: 2;
    margin-top: 40px;
    padding: 32px;
    width: fit-content;
    max-width: 100%;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(16px);
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 48px;

    @include media("3xl") {
      padding: 24px;
      gap: 32px;
    }
    @include media("lg") {
      padding: 0;
      background: transparent;
      backdrop-filter: none;
      border-radius: 0;
      justify-content: center;
      gap: 20px;
    }
    @include media("sm") {
      margin-top: 20px;
      gap: 15px;
    }
    @include media("xs") {
      margin-top: 15px;
      gap: 12px;
    }

    &-item {
      width: 320px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;

      @include media("3xl") {
        width: 280px;
      }
      @include media("2xl") {
        width: 260px;

        .text-p br {
          display: none;
        }
      }
      @include media("lg") {
        flex: 1 0 320px;
        padding: 24px;
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(16px);
        border-radius: 16px;
      }
      @include media("sm") {
        padding: 20px;
      }
      @include media("xs") {
        gap: 12px;
      }
    }

    .icon {
      margin-bottom: 8px;
      padding: 10px;
      background: var(--primary);
      border-radius: 50%;
      --icon-size: 64px;

      @include media("lg") {
        margin-bottom: 4px;
      }
      @include media("xs") {
        margin-bottom: 0;
        padding: 8px;
        --icon-size: 48px;
      }
    }
  }
}
