---
import App from "../App.astro";
import { Section, Image, Icon, H1, H2, H3, H4 } from "ui";
import TheHero from "../components/TheHero.astro";
import TheDiscounts from "../components/TheDiscounts.astro";
import ThePricing from "../components/ThePricing.astro";
import TheAbout from "../components/TheAbout.astro";
import TheDoctors from "../components/TheDoctors.astro";
import TheReviews from "../components/TheReviews.astro";
import TheRating from "../components/TheRating.astro";
import TheFAQ from "../components/TheFAQ.astro";
import ThePrice from "../components/ThePrice.astro";
import TheForm from "../components/TheForm.astro";
import TheProjects from "../components/TheProjects.astro";
---

<App title="Элайнеры">
  <main>
    <!-- TheHero -->
    <TheHero id="3" title="<span>Элайнеры под ключ</span><br/> в москве" />
    <!-- ThePrice -->
    <ThePrice title="Цены на элайнеры" list={["Элайнеры"]} />
    <!-- TheDiscounts -->
    <TheDiscounts total={2} />
    <!-- TheAligners -->
    <Section name="aligners">
      <H2>Что такое элайнеры</H2>
      <div class="aligners__content">
        <p class="aligners-desc">
          Элайнеры – новейшая комфортная система выравнивания зубов. Это
          прозрачные капы из особого пластика, которые мягко и незаметно
          корректируют вашу улыбку, возвращая зубам здоровье, а вам уверенность
          в себе.
          <br />
          <br />
          Элайнеры легко устанавливаются и снимаются самостоятельно, не ощущаются
          при ношении, просты в уходе и неприхотливы в эксплуатации. Они отлично
          подойдут людям, которые по разным причинам не хотят ставить брекеты.
          <br />
          <br />
          По мере лечения капы меняются на новые, которые уже входят в стоимость
          набора. По окончании вы сможете смело улыбаться, смеяться во весь рот или
          даже сняться в голливудском фильме.
        </p>

        <div class="aligners__warranty">
          <Image src="braces-warranty.png" />
        </div>

        <div class="aligners__img">
          <Image src="aligners-img.png" />
        </div>
      </div>
    </Section>
    <!-- TheForm -->
    <TheForm />
    <!-- TheAlignersAdvantages -->
    <Section name="aligners">
      <H2>преимущества элайнеров</H2>
      <div class="aligners__advantages">
        <div class="aligners__advantages-item">
          <span>01</span>
          <p class="font-light">
            В первую очередь, элайнеры совсем незаметны на зубах. Это особенно
            важно, если вы работаете с людьми и в целом стремитесь всегда
            выглядеть безупречно. Никто даже не поймет, что вы пользуетесь
            системой коррекции.
          </p>
        </div>
        <div class="aligners__advantages-item">
          <span>02</span>
          <p class="font-light">
            За элайнерами очень просто ухаживать — достаточно чистить их щеткой
            тогда же, когда Вы чистите зубы (после каждого приема пищи). Никаких
            лишних действий, переживаний и трат.
          </p>
        </div>
        <div class="aligners__advantages-item">
          <span>03</span>
          <p class="font-light">
            Элайнеры не меняют ваш рацион. Спокойно угощайтесь орешками,
            ирисками или мороженым — с вашими капами ничего не случится.
          </p>
        </div>
      </div>
    </Section>
    <!-- TheAlignersProblems -->
    <Section name="aligners">
      <H2>с какими проблемами помогут элайнеры</H2>
      <div class="aligners__problems">
        <div class="aligners__problems-item">
          <div class="bg-img">
            <Image src="aligners/1.png" />
          </div>
          <H3>скученность зубов</H3>
          <p class="font-light">
            Один из наиболее распространенных стоматологических дефектов.
            Основная задача врача восстановить правильный контакт верхних и
            нижних зубов для обеспечения полноценного жевания.
          </p>
        </div>
        <div class="aligners__problems-item">
          <div class="bg-img">
            <Image src="aligners/2.png" />
          </div>
          <H3>Промежутки между зубами </H3>
          <p class="font-light">
            Лечение направлено на устранение промежутков для восстановления
            красивой улыбки и правильного распределения нагрузки при жевании.
            Срок лечения варьируется в зависимости от сложности патологии
          </p>
        </div>
        <div class="aligners__problems-item">
          <p>
            Элайнеры подходят как для несложных эстетических случаев, так и для
            коррекции более сложных аномалий прикуса. <br />
            Благодаря их прозрачности и комфортности, лечение становится практически
            незаметным и удобным для пациента.
          </p>
          <div
            class="btn variant-solid"
            role="button"
            tabindex="0"
            aria-label="Запись на прием"
            data-modal="form"
          >
            Запись на прием
          </div>
        </div>
      </div>
    </Section>
    <!-- TheProjects -->
    <TheProjects />
    <!-- TheDoctors -->
    <TheDoctors />
    <!-- TheReviews -->
    <TheReviews />
    <!-- TheRating -->
    <TheRating />
    <!-- TheFAQ -->
    <TheFAQ />
  </main>
</App>
