---
import App from "../App.astro";
import { Section, Image, Icon, H1, H2, H3, H4 } from "ui";
import TheHero from "../components/TheHero.astro";
import TheDiscounts from "../components/TheDiscounts.astro";
import ThePricing from "../components/ThePricing.astro";
import TheAbout from "../components/TheAbout.astro";
import TheDoctors from "../components/TheDoctors.astro";
import TheReviews from "../components/TheReviews.astro";
import TheRating from "../components/TheRating.astro";
import TheFAQ from "../components/TheFAQ.astro";
import ThePrice from "../components/ThePrice.astro";
import TheForm from "../components/TheForm.astro";
import TheProjects from "../components/TheProjects.astro";
---

<App title="Зубные протезы">
  <main>
    <!-- TheHero -->
    <TheHero id="5" title="<span>Зубные протезы <br/> под ключ</span>" />
    <!-- ThePrice -->
    <ThePrice
      title="Цены на протезирование зубов"
      list={[
        "Бюгельный протез",
        "Нейлоновый частично-съемный протез",
        "Бюгельный протез МК на 1 челюсть",
        "Acry Free протез на 1 челюсть",
        "Акриловый протез на 1 челюсть",
        "Защитная капа при бруксизме на 1 челюсть",
        "Иммедиат - протез",
      ]}
    />
    <!-- TheDiscounts -->
    <TheDiscounts total={2} />
    <!-- TheProsthetics -->
    <Section name="prosthetics">
      <H2>основные виды протезирования</H2>

      <div class="prosthetics__about">
        <Image class="prosthetics__about-img" src="prosthetics/img.png" />
        <div class="prosthetics__about-content">
          <H3>Несъемное протезирование</H3>
          <p class="text-desc">
            Несъёмные зубные протезы представляют собой современные конструкции,
            которые плотно и надежно фиксируются в полости рта с помощью
            специальных технологий и материалов, обеспечивая пациенту комфорт и
            долговечность. Они отличаются высокой эстетичностью,
            функциональностью и удобством, так как не требуют ежедневного снятия
            и ухода, как съемные протезы. Установка таких протезов проводится
            стоматологом с учетом индивидуальных особенностей зубочелюстной
            системы пациента, что гарантирует естественный внешний вид и
            восстановление жевательной функции. Несъёмное протезирование
            подходит для восстановления одного или нескольких зубов, а также для
            создания прочной основы при полной адентии с использованием
            имплантов.
          </p>

          <div
            class="btn variant-solid"
            role="button"
            tabindex="0"
            aria-label="Запись на прием"
            data-modal="form"
          >
            Запись на прием
          </div>
        </div>
      </div>

      <H3>Виды несъемного протезирования</H3>

      <div class="prosthetics__list type-1">
        <div class="prosthetics__list-item">
          <Image src="prosthetics/1.png" />
          <H3>Мостовидные протезы</H3>
          <p class="text-desc">
            Несъемный стоматологический протез, применяемый для замещения
            включенных дефектов зубных рядов. Он ставится в случаях, когда
            разрушено несколько идущих подряд зубов, поэтому такой протез может
            крепиться на отстоящие друг от друга здоровые зубы или закрытые
            коронками.
          </p>
        </div>

        <div class="prosthetics__list-item">
          <Image src="prosthetics/2.png" />
          <H3>Имплантаты </H3>
          <p class="text-desc">
            Искусственно изготовленная, чаще всего многокомпонентная
            конструкция, используемая для внедрения в костную ткань челюсти с
            последующим сращением с целью протезирования. Имплантаты замещают
            собой корни утраченных зубов, позволяя впоследствии провести
            восстановление зубного ряда.
          </p>
        </div>

        <div class="prosthetics__list-item">
          <Image src="prosthetics/3.png" />
          <H3>Коронки </H3>
          <p class="text-desc">
            Ортопедическая конструкция, покрывающая коронковую часть зуба или
            отдельно взятую часть поверхности. Используется для восстановления
            дефектов зубов, которые не подлежат менее инвазивному лечению
            (пломба, вкладка), для изменения формы, положения и цвета зубов.
          </p>
        </div>

        <div class="prosthetics__list-item">
          <Image src="prosthetics/4.png" />
          <H3>Анатомические вкладки </H3>
          <p class="text-desc">
            Вкладками называют протезы, которые восстанавливают анатомическую
            форму зуба, заполняя собой дефект в его коронке. Вкладки относят к
            микропротезам и применяют для восстановления формы и функции
            коронковой части зуба, нарушенной в результате кариозных и
            некариозных поражений твёрдых тканей зубов.
          </p>
        </div>

        <div class="prosthetics__list-item">
          <Image src="prosthetics/5.png" />
          <H3>Виниры </H3>
          <p class="text-desc">
            Пластинки, замещающие внешний слой зубов. Они позволяют
            корректировать нарушения формы и цвета, а также защищают зубы, при
            этом не требуется агрессивное препарирование эмали.
          </p>
        </div>

        <div class="prosthetics__list-item">
          <Image src="prosthetics/6.png" />
          <H3>Люминиры </H3>
          <p class="text-desc">
            Так же, как и виниры, представляют собой накладки на зубную
            поверхность, однако они значительно тоньше и не требуют
            предварительной обточки.
          </p>
        </div>
      </div>

      <div class="prosthetics__about">
        <div class="prosthetics__about-content">
          <H3>съемное протезирование</H3>
          <p class="text-desc">
            Съёмное протезирование зубов представляет собой удобное и доступное решение для восстановления утраченных зубов, особенно в случаях, когда установка несъёмных конструкций невозможна или экономически менее оправдана. Такие протезы легко снимаются для ежедневного ухода, что обеспечивает их гигиеничность и долговечность при правильной эксплуатации. Современные съёмные протезы изготавливаются из качественных материалов, которые максимально адаптируются к анатомии полости рта, обеспечивая комфортное ношение и естественный внешний вид. Они могут быть частичными, если требуется заменить несколько зубов, или полными, когда восстановление охватывает весь зубной ряд. Съёмные протезы — это практичное решение, которое помогает восстановить не только жевательную функцию, но и уверенность в улыбке.
          </p>

          <div
            class="btn variant-solid"
            role="button"
            tabindex="0"
            aria-label="Запись на прием"
            data-modal="form"
          >
            Запись на прием
          </div>
        </div>
        <Image class="prosthetics__about-img" src="prosthetics/img2.png" />
      </div>

      <H3>Типы съемного протезирования по материалу крепления</H3>

      <div class="prosthetics__list type-1">
        <div class="prosthetics__list-item">
          <Image src="prosthetics/1.png" />
          <H3>Пластинчатые </H3>
          <p class="text-desc">
            Представляют собой искусственные зубы, которые крепятся к
            пластиковому основанию того же цвета, что и десны.
          </p>
        </div>

        <div class="prosthetics__list-item">
          <Image src="prosthetics/2.png" />
          <H3>Бюгельные </H3>
          <p class="text-desc">
            Такие зубные протезы крепятся при помощи тонкой металлической дуги,
            которая визуально не заметна для окружающих.
          </p>
        </div>
      </div>

      <H3>Виды зубных протезов по материалу изготовления</H3>

      <div class="prosthetics__list type-2">
        <div class="prosthetics__list-item">
          <Image src="prosthetics/8.png" />
          <H3>Керамические </H3>
          <p class="text-desc">
            Для их изготовления применяется прочная керамика с хорошими эстетическими свойствами, по внешнему виду изделия неотличимы от живых зубов.
          </p>
        </div>

        <div class="prosthetics__list-item">
          <Image src="prosthetics/9.png" />
          <H3>Металлокерамические </H3>
          <p class="text-desc">
            Такие системы состоят из плотного цельного каркаса, выполненного из медицинского сплава, на который наносится слой за слоем керамика.
          </p>
        </div>

        <div class="prosthetics__list-item">
          <Image src="prosthetics/10.png" />
          <H3>Пластмассовые </H3>
          <p class="text-desc">
            Изготавливают из акрила, как правило, используются в качестве съемных или временных.
          </p>
        </div>

        <div class="prosthetics__list-item">
          <Image src="prosthetics/11.png" />
          <H3>Циркониевые </H3>
          <p class="text-desc">
            Каждая циркониевая коронка представляет собой прочный каркас из диоксида циркония, покрытый несколькими слоями окрашенного фарфора. Это самый современный способ протезирования.
          </p>
        </div>
      </div>
      
    </Section>
    <!-- TheForm -->
    <TheForm />
    <!-- TheProjects -->
    <TheProjects />
    <!-- TheDoctors -->
    <TheDoctors />
    <!-- TheReviews -->
    <TheReviews />
    <!-- TheRating -->
    <TheRating />
    <!-- TheFAQ -->
    <TheFAQ />
  </main>
</App>
