---
import App from "../App.astro";
import { Section, Image, Icon, H1, H2, H3, H4 } from "ui";
import TheHero from "../components/TheHero.astro";
import TheDiscounts from "../components/TheDiscounts.astro";
import ThePricing from "../components/ThePricing.astro";
import TheAbout from "../components/TheAbout.astro";
import TheDoctors from "../components/TheDoctors.astro";
import TheReviews from "../components/TheReviews.astro";
import TheRating from "../components/TheRating.astro";
import TheFAQ from "../components/TheFAQ.astro";
---

<App title="Главная">
  <main>
    <!-- TheHero -->
    <TheHero id="1" title="<span>Стоматология</span><br/> в москве" />
    <!-- TheDiscounts -->
    <TheDiscounts length={4} />
    <!-- ThePricing -->
    <ThePricing />
    <!-- TheAbout -->
    <TheAbout />
    <!-- TheDoctors -->
    <TheDoctors />
    <!-- TheReviews -->
    <TheReviews />
    <!-- TheRating -->
    <TheRating />
    <!-- TheFAQ -->
    <TheFAQ />
  </main>
</App>
