---
import App from "../App.astro";
import { Section, Image, Icon, H1, H2, H3, H4 } from "ui";
import TheHero from "../components/TheHero.astro";
---

<App title="Главная">
  <main>
    <!-- TheHero -->
    <TheHero id="1" title="<span>Стоматология</span><br/> в москве" />

    <div class="example"></div>
  </main>
</App>
