---
import App from "../App.astro";
import { Section, Image, Icon, H1, H2, H3, H4 } from "ui";
import TheHero from "../components/TheHero.astro";
import TheDiscounts from "../components/TheDiscounts.astro";
import ThePricing from "../components/ThePricing.astro";
import TheAbout from "../components/TheAbout.astro";
import TheDoctors from "../components/TheDoctors.astro";
import TheReviews from "../components/TheReviews.astro";
import TheRating from "../components/TheRating.astro";
import TheFAQ from "../components/TheFAQ.astro";
import ThePrice from "../components/ThePrice.astro";
import TheForm from "../components/TheForm.astro";
import TheProjects from "../components/TheProjects.astro";
---

<App title="Удаление зубов">
  <main>
    <!-- TheHero -->
    <TheHero id="11" title="<span>Удаление зубов <br/> под ключ</span>" />
    <!-- ThePrice -->
    <ThePrice title="Цены на удаление зубов" list={["Удаление зуба"]} />
    <!-- TheDiscounts -->
    <TheDiscounts total={2} />
    <!-- TheCrowns -->
    <Section name="service">
      <H2>об удалении зубов</H2>

      <p class="text-p">
        В современной стоматологии приоритет делается на зубосохраняющие
        методики лечения и технологии, помогающие сохранять зубы пациентам в
        сложнейших клинических случаях. Однако при некоторых обстоятельствах
        спасти зуб невозможно и тогда назначается операция по его удалению. Ниже
        подробно рассмотрим показания к удалению, методики, которыми выполняется
        этот вид стоматологического хирургического вмешательства.
      </p>

      <H3>Когда зуб приходится удалять?</H3>

      <div class="text-p">
        Для удаления есть экстренные и плановые показания. В первом случае,
        операция проводится, если: <br />
        <ul>
          <li>
            Диагностика выявила активный (острый) воспалительный процесс в
            корневой системе или тканях, окружающих зуб и консервативные методы
            устранить его неспособны;
          </li>
          <li>Корень поврежден в результате травмы.</li>
        </ul>
        К плановым показаниям для удаления относят: <br />
        <ul>
          <li>
            Расшатывание элементов зубного ряда на фоне пародонтита,
            пародонтоза;
          </li>
          <li>
            Запланированное ортодонтическое лечение. Удаление позволит получить
            в зубных рядах свободное место для смещения других единиц и
            выравнивания прикуса.
          </li>
        </ul>
        Необходимо удалять зубы, не подлежащие восстановлению, ретинированные и дистопированные
        элементы. А вот зубы мудрости без веских причин стоматологи удалять не рекомендуют.
        Если «восьмерка» правильно и вовремя прорезалась, не мешает росту «соседей»,
        ее нужно сохранить. В будущем третий моляр может стать опорой для установки
        протеза.
      </div>

      <H3>Методы удаления зубов</H3>

      <p class="text-p">
        Удаление зубов может быть, как простым, так и сложным. Простая
        технология используется для зубных единиц с небольшим количеством
        корней. Операция занимает всего 20-25 минут и проводится простым
        хирургическим инструментом. Сложное удаление выполняется для зубов с
        большим количеством корней, разрушенных элементов, от которых в десне
        сохранились только корни, ретинированных и дистопированных зубных
        единиц. Такое вмешательство может подразумевать разрезы мягких тканей,
        распиливание естественной коронки зуба, работу с челюстной костью,
        экстракцию фрагментов корней и занимает по времени несколько часов. Для
        сложного извлечения хирург будет использовать разнообразный инструмент.
        Естественно, что такие манипуляции способны доставить человеку сильную
        боль, поэтому операция проводится под анестезией, а иногда под седацией
        и даже общим наркозом.
        <br /><br />
        Как будут удалять зуб в вашем случае? Ответить на этот вопрос можно только
        после диагностики, проведенной в условиях клиники. Она позволит собрать все
        необходимые данные, определить показания и противопоказания и выбрать оптимальную
        технологию.
      </p>

      <div class="service__extraction">
        <div class="service__extraction-block">
          <Image src="tooth-extraction.png" />
          <div class="group">
            <H3 class="text-default">Удалять зубы это не больно!</H3>
            <p>
              Бояться операции из-за боли не нужно. В современной
              стоматологической хирургии применяются высокоэффективные
              анестетики, полностью блокирующие болевые ощущения. Если человек
              боится стоматологов до паники и планируется сложное вмешательство,
              процедуру возможно провести под седацией или общим наркозом.
            </p>
          </div>
        </div>

        <ul class="service__extraction-list">
          <li>
            <Icon src="dental-insurance.svg" />
            <div class="flex-col">
              <strong>Боремся за сохранение</strong>
              <p class="text-p">
                Восстанавливаем зуб, если видим возможность долгосрочного
                положительного результата
              </p>
            </div>
          </li>
          <li>
            <Icon src="dental.svg" />
            <div class="flex-col">
              <strong>Удаление по объективным показаниям </strong>
              <p class="text-p">
                Удаляем зуб применяя специальный инструмент и ультразвуковой
                скальпель
              </p>
            </div>
          </li>
          <li>
            <Icon src="dental-surgery.svg" />
            <div class="flex-col">
              <strong>Зашиваем лунку</strong>
              <p class="text-p">
                Накладываем препарат ускоряющий заживление и зашиваем лунку
              </p>
            </div>
          </li>
          <li>
            <Icon src="implant.svg" />
            <div class="flex-col">
              <strong>Консультируем о возможности восстановления зуба</strong>
              <p class="text-p">
                Рассказываем о  возможности восстановления утраченного зуба
              </p>
            </div>
          </li>
        </ul>
      </div>
    </Section>
    <!-- TheForm -->
    <TheForm />
    <!-- TheProjects -->
    <TheProjects />
    <!-- TheDoctors -->
    <TheDoctors />
    <!-- TheReviews -->
    <TheReviews />
    <!-- TheRating -->
    <TheRating />
    <!-- TheFAQ -->
    <TheFAQ />
  </main>
</App>
