body {
  background-image: url("../img/bg.svg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  @include media("lg") {
    background-size: 120% auto;
  }
}

main {
  padding-left: 350px;
  max-width: 100%;
  overflow: hidden;

  @include media("3xl") {
    padding-left: 300px;
  }
  @include media("xl") {
    padding-left: 0;
  }
}

section {
  @include media("lg") {
    padding: 30px 0;
  }
}

.example {
  min-height: 200vh;
}

// @include show(".endoscopy");
