body {
  background-image: url("../img/bg.svg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  @include media("lg") {
    background-size: 120% auto;
  }
}

main {
  padding-top: 80px;
  padding-left: 350px;
  max-width: 100%;
  overflow: hidden;

  @include media("3xl") {
    padding-top: 30px;
    padding-left: 280px;
  }
  @include media("xl") {
    padding-left: 0;
  }
}

section {
  padding: 50px 0;

  @include media("lg") {
    padding: 30px 0;
  }
}

.example {
  min-height: 50vh;
}

// @include show(".faq2", true, true);
