---
import { Section, H1, H2, H3, H4, Image, Icon } from "ui";
---

<Section name="about">
  <H2>Стоматология, которой доверяют </H2>
  <p class="text-desc">
    Стоматология "АртДент" – это современный центр заботы о вашем здоровье и
    красоте улыбки. Мы предлагаем широкий спектр услуг, чтобы удовлетворить все
    потребности наших пациентов: от установки брекет-систем и элайнеров до
    сложных процедур, таких как имплантация зубов и протезирование. Наша команда
    высококвалифицированных специалистов использует только передовые технологии
    и материалы, чтобы обеспечить максимальный комфорт, безопасность и
    эффективность лечения.
  </p>
  <div class="about__wrapper">
    <div class="about__video">
      <div class="bg-img">
        <Image src="stomotology.png" />
      </div>

      <div
        class="btn"
        role="button"
        data-fancybox="about"
        data-src="https://youtu.be/ZE14A5u-Huc?si=r3wTMF4SBsaOYstQ"
      >
      </div>
      <span>Посмотрите видео о нашей стоматологии</span>
    </div>
    <p class="text-desc">
      В "АртДент" вы найдете полный комплекс стоматологических услуг: установка
      виниров и коронок, лечение кариеса и пульпита, профессиональная чистка
      зубов, а также бережное удаление зубов. Каждый пациент для нас уникален, и
      мы подходим к каждому случаю с особым вниманием, предлагая индивидуальные
      решения. Мы гордимся доверием наших пациентов и стремимся, чтобы каждая
      улыбка, созданная в "АртДент", была яркой, здоровой и уверенной.
    </p>
  </div>
</Section>
