---
import { H2, Icon, Image } from "ui";
---

<footer class="footer">
  <div class="container">
    <div class="footer__info">
      <a href="/" class="footer__info-logo" title="Стоматология в москве">
        <Image src="logo.png" alt="Стоматология в москве Артдент" />
      </a>
      <p class="text-desc">Наши социальные сети</p>
      <div class="footer__info-socials">
        <a href="#" class="icon" target="_blank" title="VK">
          <Image src="icons/vk.svg" alt="" />
        </a>
        <a href="#" class="icon" target="_blank" title="WhatsApp">
          <Image src="icons/whatsapp.svg" alt="" />
        </a>
        <a href="#" class="icon" target="_blank" title="Telegram">
          <Image src="icons/telegram.svg" alt="" />
        </a>
      </div>
      <a
        href="https://seo-tex.ru/"
        target="_blank"
        title="Разработка сайта"
        class="footer__info-dev"
      >
        <div class="icon">
          <svg
            width="27"
            height="28"
            viewBox="0 0 27 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.4857 0.651367C5.70161 0.651367 0 6.27452 0 14.1441C0 16.2745 0.416494 18.231 1.17772 19.9702L7.95637 13.7963L5.55801 11.0282L20.7383 8.01365L15.7404 22.7963L13.342 20.0282L6.76437 26.0282C8.7176 27.0716 10.9867 27.6514 13.4857 27.6514C21.3127 27.6514 27 22.0282 27 14.1586C27 6.28904 21.3127 0.651367 13.4857 0.651367Z"
              fill="#555555"></path>
          </svg>
        </div>
        <span>
          Разработка <br />
          и продвижение
        </span>
      </a>
    </div>

    <div class="footer__menu">
      <div class="footer__menu-title">Информация</div>
      <ul class="menu">
        <li class="menu-item active"><a href="/">Главная</a></li>
        <li class="menu-item"><a href="/doctors">Врачи</a></li>
        <li class="menu-item"><a href="/prices">Цены</a></li>
        <li class="menu-item"><a href="/discounts">Акции</a></li>
        <li class="menu-item"><a href="/portfolio">Наши работы</a></li>
        <li class="menu-item"><a href="/reviews">Отзывы</a></li>
        <li class="menu-item"><a href="/contacts">Контакты</a></li>
      </ul>
    </div>

    <div class="footer__menu">
      <div class="footer__menu-title">Услуги</div>
      <ul class="menu">
        <li class="menu-item"><a href="/braces">Брекеты</a></li>
        <li class="menu-item"><a href="/aligners">Элайнеры</a></li>
        <li class="menu-item"><a href="/implantation">Имплантация</a></li>
        <li class="menu-item"><a href="/prosthetics">Протезирование</a></li>
        <li class="menu-item"><a href="/veneers">Виниры</a></li>
        <li class="menu-item">
          <a href="/dental-crowns">Зубные коронки</a>
        </li>
        <li class="menu-item">
          <a href="/hygiene">Проф. гигиена зубов</a>
        </li>
        <li class="menu-item"><a href="/">Лечение кариеса</a></li>
        <li class="menu-item">
          <a href="/caries-treatment">Лечение пульпита</a>
        </li>
        <li class="menu-item">
          <a href="/tooth-extraction">Удаление зубов</a>
        </li>
      </ul>
    </div>

    <div class="footer__contacts">
      <ul class="footer__contacts-list">
        <li>
          <Icon src="marker.svg" />
          <p class="text-p">г.Москва, ул. Пудовкина 5</p>
        </li>
        <li>
          <a href="tel:+74957790145" target="_blank" title="Телефон">
            <Icon src="phone.svg" />
            <p class="text-p">+7 (495) 799-01-45</p>
          </a>
        </li>
      </ul>

      <iframe
        src="https://yandex.uz/map-widget/v1/org/artdent/1067447758/?ll=37.529740%2C55.726815&source=serp_navig&z=17"
        width="560"
        height="400"
        allowfullscreen="true"
        style="position:relative;"></iframe>
    </div>
  </div>
</footer>
