---
import { H2, Image, Icon } from "ui";
---

<header class="header">
  <div class="container">
    <a href="/" class="header__logo" title="Стоматология в москве">
      <Image src="logo.png" alt="Стоматология в москве Артдент" />
    </a>

    <nav class="header__menu">
      <ul class="menu">
        <li class="menu-item active"><a href="/">Главная</a></li>
        <li class="menu-item menu-item-has-children">
          <a href="/services">Услуги</a>
          <ul class="sub-menu">
            <li class="menu-item"><a href="/braces">Брекеты</a></li>
            <li class="menu-item"><a href="/aligners">Элайнеры</a></li>
            <li class="menu-item"><a href="/implantation">Имплантация</a></li>
            <li class="menu-item"><a href="/prosthetics">Протезирование</a></li>
            <li class="menu-item"><a href="/veneers">Виниры</a></li>
            <li class="menu-item">
              <a href="/dental-crowns">Зубные коронки</a>
            </li>
            <li class="menu-item">
              <a href="/hygiene">Проф. гигиена зубов</a>
            </li>
            <li class="menu-item"><a href="/">Лечение кариеса</a></li>
            <li class="menu-item">
              <a href="/caries-treatment">Лечение пульпита</a>
            </li>
            <li class="menu-item">
              <a href="/tooth-extraction">Удаление зубов</a>
            </li>
          </ul>
        </li>
        <li class="menu-item"><a href="/doctors">Врачи</a></li>
        <li class="menu-item"><a href="/prices">Цены</a></li>
        <li class="menu-item"><a href="/discounts">Акции</a></li>
        <li class="menu-item"><a href="/portfolio">Наши работы</a></li>
        <li class="menu-item"><a href="/reviews">Отзывы</a></li>
        <li class="menu-item"><a href="/contacts">Контакты</a></li>
      </ul>
    </nav>

    <div class="header__contact">
      <a href="tel:+74957790145" class="header__contact-phone" title="Телефон">
        +7 (495) 779-01-45
      </a>
      <div
        class="btn variant-solid"
        role="button"
        tabindex="0"
        aria-label="Запись на прием"
        data-modal="form"
      >
        Запись на прием
      </div>
    </div>
  </div>

  <div class="mobile__menu">
    <div class="mobile__menu-tabs">
      <div
        class="mobile__menu-tab"
        id="tab"
        data-toggle="menu"
        role="button"
        tabindex="0"
        aria-label="Меню"
      >
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 1.79032C0 1.0777 0.577697 0.5 1.29032 0.5H7.74194C8.45456 0.5 9.03226 1.0777 9.03226 1.79032V8.24194C9.03226 8.95456 8.45456 9.53226 7.74194 9.53226H1.29032C0.577697 9.53226 0 8.95456 0 8.24194V1.79032Z"
            fill="currentColor"></path>
          <path
            d="M10.9677 1.79032C10.9677 1.0777 11.5454 0.5 12.2581 0.5H18.7097C19.4223 0.5 20 1.0777 20 1.79032V8.24194C20 8.95456 19.4223 9.53226 18.7097 9.53226H12.2581C11.5454 9.53226 10.9677 8.95456 10.9677 8.24194V1.79032Z"
            fill="currentColor"></path>
          <path
            d="M10.9677 12.1129C10.9677 11.4003 11.5454 10.8226 12.2581 10.8226H18.7097C19.4223 10.8226 20 11.4003 20 12.1129V18.5645C20 19.2771 19.4223 19.8548 18.7097 19.8548H12.2581C11.5454 19.8548 10.9677 19.2771 10.9677 18.5645V12.1129Z"
            fill="currentColor"></path>
          <path
            d="M0 12.1129C0 11.4003 0.577697 10.8226 1.29032 10.8226H7.74194C8.45456 10.8226 9.03226 11.4003 9.03226 12.1129V18.5645C9.03226 19.2771 8.45456 19.8548 7.74194 19.8548H1.29032C0.577697 19.8548 0 19.2771 0 18.5645V12.1129Z"
            fill="currentColor"></path>
        </svg>
        <span>Меню</span>
      </div>
      <div
        class="mobile__menu-tab"
        id="tab"
        data-toggle="services"
        role="button"
        tabindex="0"
        aria-label="Услуги"
      >
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5 0C2 0 0 3 0 6C0 8.11 1 11 2 12C3 13 4 20 6 20C10.54 20 8 13 10 13C12 13 9.46 20 14 20C16 20 17 13 18 12C19 11 20 8.11 20 6C20 3 18 0 15 0C12 0 12 1 10 1C8 1 8 0 5 0Z"
            fill="currentColor"></path>
        </svg>
        <span>Услуги</span>
      </div>
      <a href="#reviews" class="mobile__menu-tab" id="tab-link" title="Отзывы">
        <svg
          width="21"
          height="20"
          viewBox="0 0 21 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M2.5 18.3334V3.33335C2.5 2.87502 2.66333 2.4828 2.99 2.15669C3.31667 1.83058 3.70889 1.66724 4.16667 1.66669H17.5C17.9583 1.66669 18.3508 1.83002 18.6775 2.15669C19.0042 2.48335 19.1672 2.87558 19.1667 3.33335V13.3334C19.1667 13.7917 19.0036 14.1842 18.6775 14.5109C18.3514 14.8375 17.9589 15.0006 17.5 15H5.83333L2.5 18.3334ZM8.39583 11.875L10.8333 10.3959L13.2708 11.875L12.625 9.10419L14.7917 7.22919L11.9375 7.00002L10.8333 4.37502L9.72917 7.00002L6.875 7.22919L9.04167 9.10419L8.39583 11.875Z"
            fill="currentColor"></path>
        </svg>
        <span>Отзывы</span>
      </a>
      <a href="/contacts" class="mobile__menu-tab" title="Контакты">
        <svg
          width="18"
          height="20"
          viewBox="0 0 18 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16 2H15V0H13V2H5V0H3V2H2C1.46957 2 0.960859 2.21071 0.585786 2.58579C0.210714 2.96086 0 3.46957 0 4V18C0 18.5304 0.210714 19.0391 0.585786 19.4142C0.960859 19.7893 1.46957 20 2 20H16C17.1 20 18 19.1 18 18V4C18 2.9 17.1 2 16 2ZM9 5C10.66 5 12 6.34 12 8C12 9.66 10.66 11 9 11C7.34 11 6 9.66 6 8C6 6.34 7.34 5 9 5ZM15 17H3V16C3 14 7 12.9 9 12.9C11 12.9 15 14 15 16V17Z"
            fill="currentColor"></path>
        </svg>

        <span>Контакты</span>
      </a>
    </div>
    <div class="mobile__menu-content">
      <div
        class="mobile__menu-close"
        id="close"
        role="button"
        aria-label="Закрыть меню"
        tabindex="0"
      >
        <svg
          width="23"
          height="23"
          viewBox="0 0 23 23"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M1 1L22 22" stroke="white"></path>
          <path d="M1 1L22 22" stroke="white"></path>
          <path d="M1 1L22 22" stroke="white"></path>
          <path d="M22 1L1 22" stroke="white"></path>
          <path d="M22 1L1 22" stroke="white"></path>
          <path d="M22 1L1 22" stroke="white"></path>
        </svg>
      </div>
      <div id="content"></div>
    </div>
  </div>
</header>
