---
import TheForm from "./TheForm.astro";
---

<div class="modal-overlay">
  <div class="modal" data-template="form">
    <div class="container">
      <div class="btn-close" data-modal="close"></div>
      <TheForm is_main={false} />
    </div>
  </div>

  <div class="modal" data-template="success">
    <div class="container">
      <div class="btn-close" data-modal="close"></div>
      <TheForm success={true} is_main={false} />
    </div>
  </div>
</div>
