---
import { Section, H1, H2, H3, H4, Image, Icon } from "ui";
---

<Section name="pricing">
  <div class="pricing__header">
    <H2>Цены на услуги стоматологии </H2>
    <p class="text-desc">
      Передовое оборудование и премиум качество расходных материалов по
      доступной цене
    </p>
  </div>

  <div class="pricing__list">
    
  </div>
</Section>
