---
import { Section, H1, H2, H3, H4, Image, Icon } from "ui";
---

<Section name="pricing">
  <div class="pricing__header">
    <H2>Цены на услуги стоматологии </H2>
    <p class="text-desc">
      Передовое оборудование и премиум качество расходных материалов по
      доступной цене
    </p>
  </div>

  <div class="pricing__list">
    <a href="/prosthetics" class="card">
      <div class="card__img">
        <Image src="services/1.png" />
      </div>
      <div class="card__content">
        <H3>протезирование</H3>
        <p class="text-desc">
          Используем только надежные, проверенные временем импортные материалы,
          гарантируя качество и долговечность.
        </p>
        <ul class="card__list">
          <li class="card__list-item">
            <div class="text-desc">Название услуги</div>
            <div class="text-primary font-medium">99 999 ₽</div>
          </li>
          <li class="card__list-item">
            <div class="text-desc">Название услуги</div>
            <div class="text-primary font-medium">99 999 ₽</div>
          </li>
          <li class="card__list-item">
            <div class="text-desc">Название услуги</div>
            <div class="text-primary font-medium">99 999 ₽</div>
          </li>
        </ul>
      </div>
    </a>

    <a href="/bracket-system" class="card">
      <div class="card__img">
        <Image src="services/2.png" />
      </div>
      <div class="card__content">
        <H3>брекет системы</H3>
        <p class="text-desc">
          Устанавливаем современные брекет-системы для эффективного и
          комфортного исправления прикуса.
        </p>
        <ul class="card__list">
          <li class="card__list-item">
            <div class="text-desc">Название услуги</div>
            <div class="text-primary font-medium">99 999 ₽</div>
          </li>
          <li class="card__list-item">
            <div class="text-desc">Название услуги</div>
            <div class="text-primary font-medium">99 999 ₽</div>
          </li>
          <li class="card__list-item">
            <div class="text-desc">Название услуги</div>
            <div class="text-primary font-medium">99 999 ₽</div>
          </li>
        </ul>
      </div>
    </a>

    <a href="/implantation" class="card">
      <div class="card__img">
        <Image src="services/3.png" />
      </div>
      <div class="card__content">
        <H3>имплантация</H3>
        <p class="text-desc">
          Выполняем современную имплантацию для надежного восстановления зубов и
          комфортной улыбки.
        </p>
        <ul class="card__list">
          <li class="card__list-item">
            <div class="text-desc">Название услуги</div>
            <div class="text-primary font-medium">99 999 ₽</div>
          </li>
          <li class="card__list-item">
            <div class="text-desc">Название услуги</div>
            <div class="text-primary font-medium">99 999 ₽</div>
          </li>
          <li class="card__list-item">
            <div class="text-desc">Название услуги</div>
            <div class="text-primary font-medium">99 999 ₽</div>
          </li>
        </ul>
      </div>
    </a>

    <a href="/caries-treatment" class="card">
      <div class="card__img">
        <Image src="services/4.png" />
      </div>
      <div class="card__content">
        <H3>лечение кариеса</H3>
        <p class="text-desc">
          Проводим эффективное лечение кариеса с сохранением здоровья и эстетики
          зубов.
        </p>
        <ul class="card__list">
          <li class="card__list-item">
            <div class="text-desc">Название услуги</div>
            <div class="text-primary font-medium">99 999 ₽</div>
          </li>
          <li class="card__list-item">
            <div class="text-desc">Название услуги</div>
            <div class="text-primary font-medium">99 999 ₽</div>
          </li>
          <li class="card__list-item">
            <div class="text-desc">Название услуги</div>
            <div class="text-primary font-medium">99 999 ₽</div>
          </li>
        </ul>
      </div>
    </a>

    <a href="/tooth-extraction" class="card">
      <div class="card__img">
        <Image src="services/5.png" />
      </div>
      <div class="card__content">
        <H3>удаление зубов</H3>
        <p class="text-desc">
          Выполняем удаление зубов быстро, безопасно и с заботой о вашем
          комфорте.
        </p>
        <ul class="card__list">
          <li class="card__list-item">
            <div class="text-desc">Название услуги</div>
            <div class="text-primary font-medium">99 999 ₽</div>
          </li>
          <li class="card__list-item">
            <div class="text-desc">Название услуги</div>
            <div class="text-primary font-medium">99 999 ₽</div>
          </li>
          <li class="card__list-item">
            <div class="text-desc">Название услуги</div>
            <div class="text-primary font-medium">99 999 ₽</div>
          </li>
        </ul>
      </div>
    </a>

    <a href="/removable-dentures" class="card">
      <div class="card__img">
        <Image src="services/6.png" />
      </div>
      <div class="card__content">
        <H3>Сьемное протезирование </H3>
        <p class="text-desc">Описание услуги</p>
        <ul class="card__list">
          <li class="card__list-item">
            <div class="text-desc">Название услуги</div>
            <div class="text-primary font-medium">99 999 ₽</div>
          </li>
          <li class="card__list-item">
            <div class="text-desc">Название услуги</div>
            <div class="text-primary font-medium">99 999 ₽</div>
          </li>
          <li class="card__list-item">
            <div class="text-desc">Название услуги</div>
            <div class="text-primary font-medium">99 999 ₽</div>
          </li>
        </ul>
      </div>
    </a>
  </div>
</Section>
