---
import { Section, H1, H2, H3, H4, Image, Icon } from "ui";
---

<Section name="rating">
  <H2>наш рейтинг на площадках </H2>

  <div class="rating__content">
    <div class="rating__list">
      <a
        href="https://yandex.ru/maps/org/artdent/1067447758/?ll=37.528549%2C55.726918&source=serp_navig&z=17.14"
        target="_blank"
        class="rating__list-item"
      >
        <Image src="logos/yandex.png" />
        <span>5/5</span>
      </a>
      <a
        href="https://maps.app.goo.gl/yS8sk4KHWr7ePL8B6"
        target="_blank"
        class="rating__list-item"
      >
        <Image src="logos/google.png" />
        <span>4.6/5</span>
      </a>
      <a
        href="https://go.2gis.com/iss58"
        target="_blank"
        class="rating__list-item"
      >
        <Image src="logos/2gis.png" />
        <span>4.9/5</span>
      </a>
      <a href="#" target="_blank" class="rating__list-item">
        <Image src="logos/prodoctorov.png" />
        <span>4.9/5</span>
      </a>
    </div>

    <p class="text-p">Спасибо что оставляете Ваши отзывы о нас на площадках!</p>
  </div>
</Section>
